.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

.root form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.root form input {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid var(--color-border);
  background-color: var(--color-background-secondary);
  color: var(--color-text);
}

.root form input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.root button {
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s;
}

.root form button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
}

.root form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
